<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= @institution_category.category %>
</p>


<%= link_to 'Edit', edit_institution_category_path(@institution_category) %> |
<%= link_to 'Back', institution_categories_path %>
