
<%= @reported_institution_units_in_month.fetch(0).class %>

<table>
  <tr>
    <th>Institution</th>
    <th>Units, reported</th>
  </tr>

<% @reported_institution_units_in_month.each do |institution_units| %>
  <tr>
  <% institution_units.each do |iu| %>
      <td><%= iu %></td>
  <% end %>
  </tr>
<% end %>
</table>
