<table>
<tr>

<td>
<table>
  <tr>
    <th>Channel</th>
    <th>Units, reported</th>
  </tr>

<% @reported_channel_units_in_month.each do |channel,units| %>
  <tr>
    <td><%= channel %></td>
    <td><%= units %></td>
  </tr>
<% end %>
  <tr>
    <th>Total</th>
    <th><%= @reported_channel_units_in_month.values.sum %></th>
</table>
</td>

</tr>
</table>
