<table>
<% @unique_products.each do |unique_product| %>
  <tr>
    <td><%= unique_product.product_name %></td>
  </tr>
<% end %>
</table>

<div id="div_bobadas" style="width: 560px; height: 300px;"></div>
