
<div id="div_year_series" style="width: 560px; height: 300px;"></div>
<br />
<br />
<div id="div_seasons_accumulateds" style="width: 560px; height: 300px;"></div>
<br />
<br />
<div id="div_historicals_institutions" style="width: 560px; height: 900px;"></div>

